{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <div style="margin-top: 5rem; padding: 2rem;" class="container profile">
        <div class="columns ">
            <div class="column is-half">
                <img src="{{ user.picture }}" alt="profil" class="image" style="width: 50%">
            </div>
            <div class="column is-half" style="text-align: center">
                <h1 class="title is-1">{{ user.name|upper }}</h1>
            </div>
        </div>
        <hr>
        <div class="column  is-offset-5">
            <table class="table">
                <tbody>
                <tr>
                    <th>Nom</th>
                    <td>{{ user.name }}</td>
                </tr>
                <tr>
                    <th>LastName</th>
                    <td>{{ user.lastName }}</td>
                </tr>

                <tr>
                    <th>Duckname</th>
                    <td>{{ user.duckname }}</td>
                </tr>
                {% if user.id == app.user.id %}
                <tr>
                    <th>E.Mail</th>
                    <td>{{ user.mail }}</td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td>{{ user.password }}</td>
                </tr>
                {% endif %}
                </tbody>
            </table>



            <a href="{{ path('Home') }}">
                <input type="submit" class="input is-rounded show" value="Revenir à l'acceuil" style="width: 25%;">
            </a>
            {% if user.id == app.user.id %}
            <a href="{{ path('users_edit', {'id': user.id}) }}"><input type="submit" class="input is-rounded edit"
                                                                       value="Editer" style="width: 15%;"></a>
            {% endif %}
            {#        {{ include('users/_delete_form.html.twig') }}#}
        </div>
    </div>
{% endblock %}
